
:root {
--heading-background-color: #d3d3d3;
--heading-text-color: #aaa;
--padding: 1rem;
--border: 1px solid rgb(0 0 0 / 0.5)
}





nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
 padding: 10px;   
}

aside {
width: 500px;
margin: 5px;
border: 30px;
padding: 20px;
background-color: burlywood;
color: #000;
text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
}

p{
    padding: 0;
}

footer{
    margin-top: 20px;
    border-top: 2px solid #000;
    text-align: center;
}

main {
    max-width: 840px;
}






/***** section *****/  /***** End Section *****/